* {
  font-family: 'poppins', 'sans-serif';
}
.form-control {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 130px;
  height: 35px;
  border-radius: 10px;
  border: transparent;
  background-color: #9b968c;
  color: #fff;
  font-size: 16px;
}
